@import '../../media';
$myCollfont: regaular;
$myBlodfont: myFont;
$border: 2px solid blue;
$border2: 2px solid red;
$color: rgb(255, 0, 255);
@font-face {
  font-family: myFont;
  src: url('../../font/NeueMetana-Bold.otf');
}
@font-face {
  font-family: regaular;
  src: url('../../font/NeueMetana-Regular.otf');
}
.about__me {
  display: none;
  width: 100%;
  // margin-top: 10rem;
  @include mobile {
    margin-top: 5rem;
  }
  .hey__text {
    display: block;
    font-family: $myCollfont;
    span {
      color: $color;
      font-size: 4rem;
      @include mobile {
        font-size: 2rem;
      }
      @include minimobile {
        font-size: 1.2rem;
      }
    }
  }
}
.hey__text {
  margin-bottom: 4rem;
  @include mobile {
    margin-bottom: 1.5rem;
  }
  div {
    p:first-child {
      font-size: 6rem;
      font-weight: bold;
      word-spacing: 2px;
      @include bigscreen {
        font-size: 4rem;
      }
      @include tab {
        font-size: 3rem;
      }
      @include mobile {
        font-size: 2rem;
      }
      @include minimobile {
        font-size: 1.8rem;
      }
    }
  }
  p {
    font-size: 4rem;
    word-spacing: 2px;
    @include bigscreen {
      font-size: 3rem;
    }
    @include tab {
      font-size: 2.4rem;
    }
    @include mobile {
      font-size: 1.4rem;
      line-height: 2.8rem;
    }
    @include minimobile {
      font-size: 1.2rem;
    }
  }
}

// name of hedings
