@import '../../media';
$myCollfont: regaular;
$myBlodfont: myFont;
$border: 2px solid blue;
$border2: 2px solid red;
$color: rgb(255, 0, 255);
@font-face {
  font-family: myFont;
  src: url('../../font/NeueMetana-Bold.otf');
}
@font-face {
  font-family: regaular;
  src: url('../../font/NeueMetana-Regular.otf');
}
.navbar {
  z-index: 19999;
  position: fixed;
  width: 100%;
  padding: 1rem 0.2rem;
  background-color: #000;
  box-shadow: 2px 25px 30px rgb(0, 0, 0);

  nav {
    // align-items: center;
    display: flex;
    justify-content: space-between;

    .logo {
      font-size: 1.4rem;
      font-weight: bold;
      color: $color;
      font-family: $myBlodfont;
      display: flex;
      cursor: pointer;
      span {
        transform: rotate(45deg);
      }
    }
    .nav__items {
      display: flex;
      list-style: none;

      .nav__links {
        margin-right: 1.2rem;
        padding: 0.4rem 0rem;
        overflow: hidden;

        a {
          text-transform: uppercase;
          color: $color;
          cursor: pointer;
          padding: 0.4rem 0rem;
          font-size: 1.2rem;
          font-family: $myCollfont;
          position: relative;
          @include mobile {
            font-size: 1rem;
          }
          &::after {
            display: block;
            content: '';
            height: 2px;
            background-color: rgb(255, 0, 0);
            position: absolute;
            bottom: 0;
            // top: 50%;
            left: 0;
            width: 100%;
            transform: translateX(-101%);
          }
          &:hover {
            color: rgb(144, 3, 144);
            &:after {
              transition: transform 0.3s ease-out;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}
.nav__links a.animate-out {
  &::after {
    transition: transform 0.3s ease-out;
    transform: translateX(100%) !important;
  }
}
