@import './media';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: #fff;
  cursor: none;
  overflow-x: hidden;
  max-width: 100%;
  width: 100%;
  overscroll-behavior: none;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.App {
  visibility: hidden;
}

.container {
  // z-index: 1;
  width: 100%;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  @media screen and(max-width : 991px ) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
a {
  text-decoration: none;
}
.cotent__body {
  width: 100%;
  border-left: 4px solid rgb(234, 0, 255);
  border-radius: 5px;
  animation: color 5s linear infinite;
}

main {
  width: 100vw;
  height: 100%;
  background-color: rgb(217, 0, 255);
}
.loading {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(24, 24, 24);
}
#bar {
  position: absolute;
  bottom: 0;
  background-color: #000000;
  height: 100vh;
  transition: 0.8s ease-out;
}
#count {
  position: absolute;
  font-size: 10rem;
  color: rgba(162, 0, 255, 0.94);
  @include mobile {
    font-size: 4rem;
  }
}
