@import '../../media';
$myCollfont: regaular;
$myBlodfont: myFont;
$border: 2px solid blue;
$border2: 2px solid red;
$color: rgb(255, 0, 255);

.work__section {
  margin-top: 15rem;
  width: 100%;
  @include mobile {
    margin-top: 5rem;
  }
  .work {
    width: 100%;
    padding: 4vw 0;
  }
}

// fast div
.work__fast {
  overflow: hidden;
  margin-bottom: 10rem;
  display: flex;
  flex-direction: row-reverse;
  @include tab {
    margin-bottom: 5rem;
    width: 100%;
    display: block;
    justify-content: center;
  }
  img {
    overflow: hidden;
    width: 60%;
    height: 100%;
    flex: 1;
    @include tab {
      width: 100%;
    }
  }
  .work__fasr__text {
    overflow: hidden;
    flex: 1;
    padding: 3rem 2rem 0 1rem;
    @include tab {
      padding: 2rem 10rem 0 0;
    }
    @include mobile {
      padding: 1.2rem 0.8rem 0 0;
    }
    h4 {
      font-size: 3rem;
      @include mobile {
        font-size: 2rem;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1.2rem;
      @include mobile {
        font-size: 1.1rem;
      }
    }
    p:last-child {
      display: flex;
      span {
        background: rgb(89, 0, 255);
        margin-right: 0.8rem;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
        font-size: 0.9rem;
      }
    }
  }
}
// second div
.work__second {
  overflow: hidden;
  display: flex;
  @include tab {
    width: 100%;
    display: block;
    justify-content: center;
  }
  img {
    overflow: hidden;
    width: 60%;
    flex: 1;
    height: 100%;
    @include tab {
      width: 100%;
    }
  }
  .work__fasr__second {
    overflow: hidden;
    text-align: right;
    flex: 1;
    padding: 3rem 2rem 0 1rem;
    @include tab {
      text-align: left;
      padding: 2rem 10rem 0 0;
    }
    @include mobile {
      padding: 1.2rem 0.8rem 0 0;
    }
    h4 {
      font-size: 3rem;
      @include mobile {
        font-size: 2rem;
      }
    }
    p {
      margin-top: 1rem;
      font-size: 1.2rem;
      @include mobile {
        font-size: 1.1rem;
        word-spacing: 2px;
      }
    }
    p:last-child {
      justify-content: right;
      display: flex;
      span {
        background: rgb(89, 0, 255);
        margin-right: 0.8rem;
        padding: 0.2rem 0.4rem;
        border-radius: 5px;
        font-size: 0.9rem;
      }
      @include tab {
        justify-content: left;
      }
    }
  }
}

// text name
.sec__name__work {
  margin-bottom: 3rem;
  p {
    font-size: 5rem;
    color: #fff;
    position: relative;
    @include mobile {
      font-size: 3rem;
    }
    &::after {
      content: 'SOME WORK';
      position: absolute;
      left: 0;
      opacity: 0.4;
      font-size: 10rem;
      bottom: -20px;
      z-index: 1;
      @include tab {
        font-size: 5rem;
        bottom: 0;
      }
      @include mobile {
        font-size: 3rem;
      }
    }
    &::before {
      content: '';
      position: absolute;
      left: 0;
      bottom: 10%;
      z-index: -2;
      width: 100%;
      height: 15px;
      background: rgba(17, 0, 255, 0.979);
      opacity: 0.8;
    }
  }
}
